.payed {
    text-decoration: line-through;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.item {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    background: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
}

.item:disabled {
    color: grey;
    border-color: grey;
}

.checkbox {
    margin-left: auto;
    accent-color: black;
}

.itemsWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px
}

.payment {
    height: 40px;
    width: 100%;
    margin-top: auto;
    background: black;
    color: white;
    border-radius: 5px;
}

.payment:disabled {
    background: grey;
}

.total {
    width: 100%;
    display: flex;
}

.sum {
    margin-left: auto;
}

.receiptWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.receipt {
    display: flex;
    align-items: center;
    gap: 8px;
}

.success {
    height: 32px;
    width: 32px;
}

.receiptItems {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    justify-content: left;
}